.c {
  margin: 0 auto;
  max-width: 1400px;
}

@media screen and (min-width: 1800px) {
  :root {
    font-size: 30px;
    --margin: 150px;
  }
}
@media screen and (max-width: 1800px) {
  :root {
    --margin: 100px;
    font-size: 25px;
  }
}
@media screen and (max-width: 1200px) {
  :root {
    --margin: 50px;
    font-size: 20px;
  }
}
@media screen and (max-width: 800px) {
  :root {
    --margin: 15px;
    font-size: 15px;
  }
}
